<nav class="bg-indigo-600">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between h-16">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=300" alt="Workflow">
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
        
        <!-- Nav Links Left -->
        <%- include('nav-links/admin') -%>

        </div>
      </div>
    </div>
    <div class="hidden md:block">
      <div class="ml-4 flex items-center md:ml-6">

        <!-- Dropdown -->
        <div class="ml-3 relative">

        <!-- Nav Links Right -->
        <%- include('nav-links/logout') -%>

        </div>
      </div>
    </div>
      
    <div class="-mr-2 flex md:hidden">
      <!-- Mobile menu button -->
      <button type="button" id="mobile-button" class="bg-indigo-600 inline-flex items-center justify-center p-2 rounded-md text-indigo-200 hover:text-white hover:bg-indigo-500 hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <!--
        Heroicon name: outline/menu

        Menu open: "hidden", Menu closed: "block"
        -->
        <svg class="ham-icon block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <!--
        Heroicon name: outline/x

        Menu open: "block", Menu closed: "hidden"
        -->
        <svg class="ham-icon hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden md:hidden" id="mobile-menu">
  <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
    
    <!-- Nav Links Left -->
    <%- include('nav-links/admin') -%>

    <br>

    <!-- Nav Links Right -->
    <%- include('nav-links/logout') -%>

  </div>
  </div>
</nav>