<%- include('partials/login-head') -%>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-6">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="mx-auto max-w-2xl">
    <div class="bg-white">
      <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <h2 class="inline text-3xl font-bold tracking-tight text-gray-900 sm:block sm:text-4xl">Register your JCKC Account</h2>
        <form action="/auth/push-registration/<%= user.id %>?_method=PUT" method="POST" class="mt-8">
          <div>
            <label for="firstNameApp" class="block text-sm font-medium text-gray-700">First Name</label>
            <div class="mt-1">
              <input id="firstNameApp" name="firstNameApp" type="text" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
          </div>
          <br>
          <div>
            <label for="lastNameApp" class="block text-sm font-medium text-gray-700">Last Name</label>
            <div class="mt-1">
              <input id="lastNameApp" name="lastNameApp" type="text" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
          </div>
          <br>
          <div>
            <label for="accountType" class="block text-sm font-medium text-gray-700 mb-4">Account Type</label>
            <div class="mt-1">
              <select name="accountType" id="accountType" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                <!-- <option value="parent" selected>Parent</option>
                <option value="teacher">Teacher</option> -->
                <option value="admin" selected>Admin</option>
              </select>
            </div>
          </div>
          <br>
          <div>
            <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date of Birth</label>
            <div class="mt-1">
              <input id="dateOfBirth" name="dateOfBirth" type="date" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
          </div>
          <br>
          <div>
            <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Phone Number</label>
            <div class="mt-1">
              <input id="phoneNumber" name="phoneNumber" type="tel" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
          </div>
          <br>
          <div>
            <label for="emailAddress" class="block text-sm font-medium text-gray-700">Email Address</label>
            <div class="mt-1">
              <input id="emailAddress" name="emailAddress" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            </div>
          </div>
          <br>
          <button type="submit" id="registerAcct" class="items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
          <a href="/auth/logout"><button type="button" class="items-center justify-center rounded-md border border-gray-300 bg-white px-5 py-3 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button></a>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/login-close-tag') -%>