<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>JCKC Login</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
  <div class="container login-container">
    <div class="card">
      <div class="card-content">
        <h3><a href="https://jckc-client-site-demo.netlify.app/"><i class="fas fa-house-chimney"></i></a> JCKC Login</h3>
        <div class="section">
            <p class="lead">Login to your JCKC account for student sign-in, roll calls, and status updates!</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <form action="/logins" method="POST">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Login" class="btn red darken-1">
            </form>
            <br>
            <p>Don't have an account? <a href="/signup">Signup</a> instead.</p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>