<%- include('partials/dashboard-head') -%>

<div class="min-h-full">
<!-- Navigation -->
<%- include('partials/navigation-admin') -%>

<!-- Content -->
<main>
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  
  <!-- Page Title -->
  <h1 class="text-3xl tracking-tight font-bold leading-tight text-gray-900 text-center">Student Registration</h1>

  <br>

  <div class="mx-auto max-w-screen-xl px-4 pb-6 sm:px-6 lg:px-8 lg:pb-16">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">

        <form class="divide-y divide-gray-200 lg:col-span-12" action="/student/push-registration-student" method="POST">
          
          <!-- Student Info -->
          <div class="py-6 px-4 sm:p-6 lg:pb-8">
            <div>
              <h2 class="text-lg font-medium leading-6 text-gray-900">Student Application</h2>
              <p class="mt-1 text-sm text-gray-500">Submit a new student application</p>
            </div>

            <div class="mt-6 grid grid-cols-12 gap-6">
              <div class="col-span-12 sm:col-span-6">
                <label for="studentFirstName" class="block text-sm font-medium text-gray-700">Student First Name</label>
                <input type="text" name="studentFirstName" id="studentFirstName" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12 sm:col-span-6">
                <label for="studentLastName" class="block text-sm font-medium text-gray-700">Student Last Name</label>
                <input type="text" name="studentLastName" id="studentLastName" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date Of Birth</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="studentStreetAddress" class="block text-sm font-medium text-gray-700">Student's Main Residence</label>
                <input type="text" name="studentStreetAddress" id="studentStreetAddress" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-5 col-span-12">
                <label for="studentCity" class="block text-sm font-medium text-gray-700">City</label>
                <input type="text" name="studentCity" id="studentCity" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-3 col-span-6">
                <label for="studentState" class="block text-sm font-medium text-gray-700">State / Province</label>
                <select name="studentState" id="studentState" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="AS">AS</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="DC">DC</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="GU">GU</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="CM">CM</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="PR">PR</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN" selected>TN</option>
                  <option value="TX">TX</option>
                  <option value="TT">TT</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="VI">VI</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                </select>
              </div>

              <div class="sm:col-span-4 col-span-6">
                <label for="studentZIP" class="block text-sm font-medium text-gray-700">ZIP / Postal Code</label>
                <input type="number" name="studentZIP" id="studentZIP" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

            </div>
          </div>

          <!-- Parent / Guardian Info -->
          <!-- <div class="py-6 px-4 sm:p-6 lg:pb-8">
            <div>
              <h2 class="text-lg font-medium leading-6 text-gray-900">Student Application</h2>
              <p class="mt-1 text-sm text-gray-500">Submit a new student application</p>
            </div>

            <div class="mt-6 grid grid-cols-12 gap-6">
              <div class="col-span-12 sm:col-span-6">
                <label for="studentFirstName" class="block text-sm font-medium text-gray-700">Student First Name</label>
                <input type="text" name="studentFirstName" id="studentFirstName" autocomplete="given-name" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12 sm:col-span-6">
                <label for="studentLastName" class="block text-sm font-medium text-gray-700">Student Last Name</label>
                <input type="text" name="studentLastName" id="studentLastName" autocomplete="family-name" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date Of Birth</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="studentStreetAddress" class="block text-sm font-medium text-gray-700">Student's Main Address</label>
                <input type="text" name="studentStreetAddress" id="studentStreetAddress" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-5 col-span-12">
                <label for="studentCity" class="block text-sm font-medium text-gray-700">City</label>
                <input type="text" name="studentCity" id="studentCity" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-3 col-span-6">
                <label for="studentState" class="block text-sm font-medium text-gray-700">State / Province</label>
                <select name="studentState" id="studentState" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="AS">AS</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="DC">DC</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="GU">GU</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="CM">CM</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="PR">PR</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="TT">TT</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="VI">VI</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                </select>
              </div>

              <div class="sm:col-span-4 col-span-6">
                <label for="studentZIP" class="block text-sm font-medium text-gray-700">ZIP / Postal Code</label>
                <input type="number" name="studentZIP" id="studentZIP" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

            </div>
          </div> -->

          <!-- Emergency Contact Info -->
          <!-- <div class="py-6 px-4 sm:p-6 lg:pb-8">
            <div>
              <h2 class="text-lg font-medium leading-6 text-gray-900">Student Application</h2>
              <p class="mt-1 text-sm text-gray-500">Submit a new student application</p>
            </div>

            <div class="mt-6 grid grid-cols-12 gap-6">
              <div class="col-span-12 sm:col-span-6">
                <label for="studentFirstName" class="block text-sm font-medium text-gray-700">Student First Name</label>
                <input type="text" name="studentFirstName" id="studentFirstName" autocomplete="given-name" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12 sm:col-span-6">
                <label for="studentLastName" class="block text-sm font-medium text-gray-700">Student Last Name</label>
                <input type="text" name="studentLastName" id="studentLastName" autocomplete="family-name" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date Of Birth</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="studentStreetAddress" class="block text-sm font-medium text-gray-700">Student's Main Address</label>
                <input type="text" name="studentStreetAddress" id="studentStreetAddress" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-5 col-span-12">
                <label for="studentCity" class="block text-sm font-medium text-gray-700">City</label>
                <input type="text" name="studentCity" id="studentCity" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-3 col-span-6">
                <label for="studentState" class="block text-sm font-medium text-gray-700">State / Province</label>
                <select name="studentState" id="studentState" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="AS">AS</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="DC">DC</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="GU">GU</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="CM">CM</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="PR">PR</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="TT">TT</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="VI">VI</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                </select>
              </div>

              <div class="sm:col-span-4 col-span-6">
                <label for="studentZIP" class="block text-sm font-medium text-gray-700">ZIP / Postal Code</label>
                <input type="number" name="studentZIP" id="studentZIP" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

            </div>
          </div> -->

          <!-- Authorized Child Pickup Info -->
          <!-- <div class="py-6 px-4 sm:p-6 lg:pb-8">
            <div>
              <h2 class="text-lg font-medium leading-6 text-gray-900">Student Application</h2>
              <p class="mt-1 text-sm text-gray-500">Submit a new student application</p>
            </div>

            <div class="mt-6 grid grid-cols-12 gap-6">
              <div class="col-span-12 sm:col-span-6">
                <label for="studentFirstName" class="block text-sm font-medium text-gray-700">Student First Name</label>
                <input type="text" name="studentFirstName" id="studentFirstName" autocomplete="given-name" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12 sm:col-span-6">
                <label for="studentLastName" class="block text-sm font-medium text-gray-700">Student Last Name</label>
                <input type="text" name="studentLastName" id="studentLastName" autocomplete="family-name" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="dateOfBirth" class="block text-sm font-medium text-gray-700">Date Of Birth</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="col-span-12">
                <label for="studentStreetAddress" class="block text-sm font-medium text-gray-700">Student's Main Address</label>
                <input type="text" name="studentStreetAddress" id="studentStreetAddress" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-5 col-span-12">
                <label for="studentCity" class="block text-sm font-medium text-gray-700">City</label>
                <input type="text" name="studentCity" id="studentCity" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

              <div class="sm:col-span-3 col-span-6">
                <label for="studentState" class="block text-sm font-medium text-gray-700">State / Province</label>
                <select name="studentState" id="studentState" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="AS">AS</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="DC">DC</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="GU">GU</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="CM">CM</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="PR">PR</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="TT">TT</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="VI">VI</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                </select>
              </div>

              <div class="sm:col-span-4 col-span-6">
                <label for="studentZIP" class="block text-sm font-medium text-gray-700">ZIP / Postal Code</label>
                <input type="number" name="studentZIP" id="studentZIP" required class="mt-1 block w-full rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm">
              </div>

            </div>
          </div> -->
          
          <!-- Submit Button -->
          <div class="col-span-12 flex justify-end mt-4 flex py-4 px-4 sm:px-6">
            <a href="/student/students-summary"><button type="button" class="ml-5 inline-flex justify-center rounded-md border border-transparent bg-white py-2 px-4 text-sm font-medium text-sky-700 shadow-sm hover:bg-sky-100 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2">Cancel</button></a>
            <button type="submit" class="ml-5 inline-flex justify-center rounded-md border border-transparent bg-sky-700 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
</main>
</div>

<%- include('partials/dashboard-close-tag') -%>