<%- include('partials/dashboard-head') -%>

<div class="min-h-full">
<!-- Navigation -->
<%- include('partials/navigation-admin') -%>

<!-- Header Section -->
<%- include('partials/header') -%>

<!-- Content -->
<main>
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

<!-- Page Title -->
<h1 class="text-3xl tracking-tight font-bold leading-tight text-gray-900 text-center">Reports Summary</h1>

<br>

</div>
</main>
</div>

<%- include('partials/dashboard-close-tag') -%>