<%- include('partials/dashboard-head') -%>

<div class="min-h-full">
<!-- Navigation -->
<%- include('partials/navigation-admin') -%>

<!-- Header Section -->
<%- include('partials/header') -%>

<!-- Content -->
<main>
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

<!-- Page Title -->
<h1 class="text-3xl tracking-tight font-bold leading-tight text-gray-900 text-center">Reports Summary</h1>

<!-- Check In Students Link -->
<div class="px-4 sm:px-6 lg:px-8">
  <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 -mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg grid grid-cols-12 gap-5">
    <a href="/report/sign-in-sheets" class="w-full inline-flex items-center rounded-full border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 justify-center sm:col-span-6 col-span-12">
      <p><i class="fa-sharp fa-solid fa-circle-down"></i> SIGN IN SHEETS</p>
    </a>
    
    <a href="/report/roll-call-sheets" class="w-full inline-flex items-center rounded-full border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 justify-center sm:col-span-6 col-span-12">
      <p><i class="fa-sharp fa-solid fa-circle-down"></i> ROLL CALL SHEETS</p>
    </a>
  </div>
</div>

</div>
</main>
</div>

<%- include('partials/dashboard-close-tag') -%>