<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JCKC Signup</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <h3><a href="https://jckc-client-site-demo.netlify.app/"><i class="fas fa-house-chimney"></i></a> JCKC Login</h3>
                <div class="section">
                    <p class="lead">Signup for a JCKC account!</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    <form action="/signups" method="POST">
                        <input type="text" name="userName" placeholder="First Name">
                        <input type="text" name="lastName" placeholder="Last Name">
                        <input type="email" name="email" placeholder="Email">
                        <input type="password" name="password" placeholder="Password">
                        <input type="password" name="confirmPassword" placeholder="Confirm Password">
                        <input type="submit" value="Signup" class="btn red darken-1">
                    </form>
                    <br>
                    <p>Already have an account? <a href="/login">Login</a> instead.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>