<%- include('partials/login-head') -%>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-6">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="mx-auto max-w-2xl">
    <div class="bg-white">
      <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <h2 class="inline text-3xl font-bold tracking-tight text-gray-900 sm:block sm:text-4xl">Student Application Submitted!</h2>
        <br>
        <br>
        <p>Go back to your Students Page.</p>
        <br>
        <br>
        <a href="/students-summary" class="items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Students</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/login-close-tag') -%>

