<a href="/dashboard/<%= user.id %>" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>

<a href="/studentsSummary" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-sm font-medium">Students</a>

<a href="/classrooms" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-sm font-medium">Classrooms</a>

<a href="/reports" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-sm font-medium">Reports</a>