<a href="/dashboard/<%= user.id %>" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>

<a href="/student/students-summary" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-sm font-medium">Students</a>

<a href="/profile/<%= user.id %>" class="text-white hover:bg-indigo-500 hover:bg-opacity-75 block px-3 py-2 rounded-md text-sm font-medium">Parent Profile</a>